@import "tailwindcss";

:root {
  --primary-100: #7D9D8E;
  --primary-80: #8FB5A3;
  --primary-60: #A1CDB8;
  --primary-40: #B3E5CD;
  --primary-20: #C6F0E2;
  --grey-100: #FFFFFF;
  --grey-80: #F8F9FA;
  --grey-60: #E9ECEF;
  --grey-40: #DEE2E6;
  --grey-20: #CED4DA;
  --filter-bg: #F8F9FA;
  --accent: #F2693D;
  --hover-bg: #A1CDB8;

  --background: var(--grey-100);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --grey-100: #1D2428;
    --grey-80: #212529;
    --grey-60: #333333;
    --grey-40: #4D4D4D;
    --grey-20: #ECEEEF;
    --filter-bg: #212529;
    --hover-bg: #8FB5A3;
    
    --background: var(--grey-100);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: var(--primary-100);
  color: var(--grey-100);
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background-color: var(--hover-bg);
}

.accent {
  color: var(--accent);
  font-weight: bold;
}
