.sectionBackground {
  background-image: linear-gradient(to bottom, #0000001a, #151515),
    url("../public/logoWorkflow.svg");
	background-position: center;  
	background-size: cover;
  background-repeat: no-repeat;
}