@use '../styles/variables' as *;

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: map-get($light-theme, background);
}

.loginBox {
  @include card;
  text-align: center;
  padding: 40px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: $primary-dark;
}

.subtitle {
  font-size: 16px;
  color: map-get($light-theme, muted);
  margin-bottom: 20px;
}

.loginButton {
  @include button($primary-color, $primary-dark, #fff);
  font-size: 16px;
  border-radius: 6px;
  margin-top: 15px;
}

.backLink {
  margin-top: 10px;
  color: $primary-dark;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}
