@use './variables' as *;

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); // sombra escura de fundo
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  width: 400px;
  max-width: 90%;
  padding: $padding-base;
  border-radius: $radius-base;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

  body[data-theme='light'] & {
    background-color: map-get($light-theme, surface);
    color: map-get($light-theme, text);
  }

  body[data-theme='dark'] & {
    background-color: map-get($dark-theme, surface);
    color: map-get($dark-theme, text);
  }

  h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 22px;
  }
}

.closeBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;

  body[data-theme='light'] & {
    color: map-get($light-theme, text);
  }

  body[data-theme='dark'] & {
    color: map-get($dark-theme, text);
  }

  &:hover {
    color: $accent-color;
  }
}

.modalBody {
  margin-top: 10px;
}
