.sidebar {
  width: 250px;
  padding: 20px;
  height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;

  body[data-theme='light'] & {
    background: #4e6cff;
    color: white;
  }

  body[data-theme='dark'] & {
    background: #1e293b;
    color: white;
  }
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 8px;
  transition: background 0.3s ease, color 0.3s ease;

  body[data-theme='light'] & {
    color: white;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  body[data-theme='dark'] & {
    color: #f8fafc;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  img {
    max-width: 100%;
    height: auto;
  }
}
